{{define "indexU"}}

{{template "headerU"}}

<main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead">
    {{ .databaseUsername }}
    <p>Lorem Ipsum is simply dummy text of
        the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
        has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.</p>
    </p>

    {{ range . }}

    <div class="lert alert-danger">
        <h2>{{.Title}}</h2>
        <p>{{.Anons}}</p>
        <a href="/post/{{ .Id}}" class="btn btn-danger">Learn more</a>
    </div>

    {{else }}

    <p class="lead">None Articles </p>

    {{ end }}

</main>

{{template "footer"}}

{{end}}